
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&family=Montserrat&display=swap');
:root {
    --text-color: #98e6e6;
    --text-light: #f1f2f4;
    --text-color-dark: #1c2d41;
    --primary-color: #336600; /*#ff432e*/
    --primary-color-dark: #1a3300;
    --background-color: #f1f2f4;
    --background-color-dark: #f0f1f4;
    --secondary-background-color: #212529;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}
.text-primary {
    color: var(--primary-color) !important;
}
a { color: var(--primary-color) !important; }

/**
 * SCROLLBAR
 */
/* width */
::-webkit-scrollbar { width: 21px; }
/* Track */
::-webkit-scrollbar-track { background: #f8f8f8; }
 /* Handle */
::-webkit-scrollbar-thumb { background: var(--primary-color); border-radius: 5px; }
/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: var(--primary-color-dark); }